/* @import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com); */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #21182e;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fcc98b, #d2691e);
    clip-path: circle(20% at right 80%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d2691e, #fcc98b);
    clip-path: circle(20% at left 10%);
}

a{
    text-decoration: none;
}

.contenedor .figure img {
    width: 300px;
    height: 350px;
}

.contenedor {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-tarjeta{
    margin: 20px;
}

.contenedor-tarjeta .figure a{
    display: inline-block;
}

.contenedor-tarjeta:hover .figure{
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0px 2px 42px -1px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.contenedor-tarjeta:hover .figure img{
    filter: blur(3px);
    border: 2px solid black;
}

.figure{
    width: 300px;
    min-height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

.figure .frontal,
.figure .trasera{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all ease .5s;
}

.figure .frontal{
    display: block;
}

.figure .trasera{
    position: absolute;
    top: 0;
    padding: 20px;
    color: azure;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    background: linear-gradient(to top, #d9b45b 5%, #d9ab5bbd 32%, #d9ab5b80 85%);
}

.figure .trasera h2{
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.figure .trasera hr{
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: 0.5;
    color: #ffe4c4;
}

.figure .trasera p{
    color: #fff;
    font-weight: normal;
    font-family: 'Glory', sans-serif;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.contenedor .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    font-family: 'Glory', sans-serif;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.contenedor .card .content{
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s;
}
.contenedor .card:hover .content{
    opacity: 1;
    transform: translateY(0px);
}
.contenedor .card .content h2{
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 8em;
}
.contenedor .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.contenedor .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.contenedor .card .content a{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 60px;
    margin: 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.contenedor .card .content a::before,
.contenedor .card .content a::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
}
.contenedor .card .content a::before,
.contenedor .card .content a::after{
    background: linear-gradient(45deg, #d2691e, #21182e, #21182e, #d2691e);
}
.contenedor .card .content a:hover:before{
    inset: -3px;
}
.contenedor .card .content a:hover:after{
    inset: -3px;
    filter: blur(10px);
}
.contenedor .card .content a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #ffe4c4;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #be5d17;
    overflow: hidden;
}
.contenedor .card .content a span::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.080);
    transform: skew(35deg);
}

.card2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 span{
    position: absolute;
    top: 720px;
    width: 250px;
    height: 250px;
    display: block;
    background: #000;
    border-radius: 50%;
    transform-origin: 130px 0;
    transform: rotate(calc(90deg * var(--i)));
    filter: blur(80px);
    opacity: 0.75;
    z-index: 1;
}
.card2 span:nth-child(1){
    background: #d2691e;
}
.card2 span:nth-child(2){
    background: #fcc98b;
}
.card2 span:nth-child(3){
    background: #d2691e;
}
.card2 span:nth-child(4){
    background: #fcc98b;
}
.card2 .glass{
    margin-top: 950px;
    position: absolute;
    width: 450px;
    height: 300px;
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    border: 1px solid #fff;
    overflow: hidden;
}
.card2 .glass::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    pointer-events: none;
    transform: skewX(325deg);
}